*{
  padding: 0;
  font-family: Trushdex;
}

@font-face {
  font-family: Bonfire;
  src: url('./fonts/Bonfire.otf') format('truetype');
}

@font-face {
  font-family: Panorama;
  src: url('./fonts/Panorama.otf') format('truetype');
}

@font-face {
  font-family: Trushdex;
  src: url('./fonts/Trushdex.otf') format('truetype');
}

body {
  margin: 0;
  font-family: Panorama;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
